@media(max-width:1080px){
    .info-section .info{
        max-width: 56rem;
        padding-right: 1rem;
    }

    .comments-section .comments-card{
        max-height: 26rem;
    }
}

@media(max-width:980px){
    body{
        background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
    }

    main{
        gap: 5rem;
    }
    
    .info-section{
        flex-direction: column;
        margin-top: 8rem;
    }

    .info-section .info{
        max-width: 56rem;
        text-align: center;
        padding-right: 0;
    }

    .info-section .ratings{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-section .ratings .stars{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }

    .info-section .ratings .stars p{
        padding-top: 2rem;
    }

    .comments-section{
        flex-direction: column;
        margin-bottom: 5rem ;
    }

    .comments-section .comments-card{
        max-width: 44rem;
        margin: 0;
    }
}

@media(max-width:485px){
    .info-section .info .title{
        font-size: 3.7rem;
        padding: 0 3rem;
    }

    .info-section .info .description{
        margin-top: 2rem;
    }

    .info-section .ratings .stars{ 
        min-width: 32rem;
        padding: 1.5rem 0;
    }

    .comments-section{
       gap: 2rem;
    }
}

@media(max-width:375px){
    main{
        margin: 0 3rem;
    }
}