body{
    background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
}

main{
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5rem;
    gap: 7.5rem;
}

.info-section{
    display: flex;
}

.info-section .info{
    max-width: 56rem;
    padding-right: 12.5rem;
}

.info-section .info .title{
    font-size: 5.2rem;
    font-weight: 700;
    color: var(--primary-dark-color);
}

.info-section .info .description{
    font-size: 1.8rem;
    margin-top: 2.7rem;
    line-height: 2.5rem;
}

.info-section .ratings .stars{ 
    display: flex;
    align-items: center;
    max-width: 44rem;
    min-width: 44rem;
    padding: 2rem 0 2rem 2rem;
    margin-top: 1.8rem;
    border-radius: 1rem;
    background-color: var(--neutral-soft-color);
}

.info-section .ratings .stars .images-container{
    display: flex;
    gap: 0.8rem;
}

.info-section .ratings .stars p{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0 2.4rem 0 3.3rem;
    color: var(--primary-dark-color);
}


.info-section .ratings .review{
    margin: 2.4rem 0 0 2rem;
}

.info-section .ratings .report{
    margin-left: 6rem;
}

.info-section .ratings .best-tech{
    margin-left: 10rem;
}

.comments-section{
    display: flex;
    gap: 2.8rem;
}

.comments-section .comments-card{
    background-color: var(--primary-dark-color);
    max-width: 35rem;
    max-height: 23rem;
    border-radius: 1rem;
}

.comments-section .middle{
    margin-top: 1.6rem;
}

.comments-section .right{
    margin-top: 3.2rem;
}

.comments-section .comments-card .comment-creator{
    display: flex;
    align-items: center;
    padding: 3.8rem 3rem 0;
}

.comments-section .comments-card .comment-creator .creator-image{
    border-radius: 50%;
    width: 4rem;
}

.comments-section .comments-card .comment-creator .creator-info{
    padding-left: 2.4rem;
    text-align: center;
}

.comments-section .comments-card .comment-creator .creator-info .name{
    color: var(--neutral-soft-color);
    font-size: 1.7rem;
}

.comments-section .comments-card .comment-creator .creator-info .verified-stats{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--primary-soft-color);
}

.comments-section .comments-card .comment{
    color: var(--neutral-soft-color);
    font-size: 1.7rem;
    line-height: 2.2rem;
    padding: 2.8rem 3rem 4rem;
}

